<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FDJASVS_X_Bootstrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FDJASVS_X_Bootstrapper.Properties.Settings>
            <setting name="CircleCheckBoxSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutlineCheckBoxSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xrayCheckBoxSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeedHackCheckBoxSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuperJumpCheckBoxSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SemiCheckBoxSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShadowsCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlrShadowsChck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gamm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lightning" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UseOldMaterials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MouserC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseOldCharacterSounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RPCSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiInstanceLaunchingSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OldDeathSoundS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OldAvatarBack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdatePLS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeveloperMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value>LIVE</value>
            </setting>
            <setting name="DevModeDebug" serializeAs="String">
                <value>False</value>
            </setting>
        </FDJASVS_X_Bootstrapper.Properties.Settings>
    </userSettings>
</configuration>